.featuredSection{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.propertySection,
.ratedSection,
.mailSection{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}